@use "./variaveis";
.secao {
    position: relative;
    display: flex;
    justify-content: center;

    &__titulo {
        h1 {
            text-transform: uppercase;
            text-align: center;
            font-family: "B612";
        }
        h1:nth-child(1) {
            padding-top: 64px;
        }
        h1:nth-child(2) {
            padding-top: 32px;
        }
        @media (min-width: 768px) {
            display: none;
        }
    }

    &__conteudo {
        position: fixed;
        background-color: variaveis.$corDeFundo;
        width: 100%;
        bottom: 0;
        padding-top: 40px;
        padding-bottom: 34px;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;

        &__star {
            width: 100%;
            position: absolute;
            display: flex;
            justify-content: space-around;
            bottom: 100%;
            align-items: center;
            text-align: center;
            padding-bottom: 2em;
            
            @media (min-width: 768px) {
                bottom: initial;
                padding-bottom: initial;
            }

            @media (min-width: 1024px) {
                bottom: 0;
                padding-bottom: 15px;
            }

            &__clock {
                p {
                    padding: 0;
                    display: inline;
                }
                img {
                    height: 19px;
                }
            }
        }

        &__capa {
            img {
                display: none;
            }
            @media (min-width: 768px) {
                img {
                    display: block;
                    height: 267px;
                    width: 184px;
                    border-radius: 5px;
                }
            }
        }

        &__btn {
            padding-bottom: 32px;
            text-align: center;
            a {
                padding: 8px 18.5px;
                text-transform: uppercase;
            }
            @media (min-width: 768px) {
                padding-bottom: initial;
                padding-bottom: 4rem;
              
            }
            @media (min-width: 1024px) {
                padding-bottom: 8em;
            }
        }

        &__texto {
            width: 100%;
        }

        @media (min-width: 768px) {
            background-color: transparent;
            display: grid;
            width: 100%;
            max-width: 600px;
            gap: 2.9rem;
            &__star {
                grid-area: secao__conteudo__star;
              
            }
            &__btn {
                grid-area: secao__conteudo__btn;
            }
            &__texto {
                grid-area: secao__conteudo__texto;
            }
            &__capa {
                grid-area: secao__conteudo__capa;
            }
            grid-template-areas:
                "secao__conteudo__capa  secao__conteudo__texto"
                "secao__conteudo__capa  secao__conteudo__star"
                "secao__conteudo__capa  secao__conteudo__btn";
        }

        @media (min-width: 1024px) {
            height: 480px;
            max-width: 800px;
            margin: 0 auto;
            gap: 1.5em;
        }
    }
}
